body {
    background-color: darkmagenta;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.logout {
    background-color: darkred;
}

.Music-choosen {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: cyan;
}

.musiclist {
    overflow: hidden;
}

.music-item {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .music-item {
        width: calc(100%/3);
        margin: 0;
        padding: 0;
        display: inline-flex;
        word-wrap: break-word;
        vertical-align: text-top;
    }
}

.music-img {
    opacity: 1;
    width: 200px;
    height: 200px;
}

.music-img:hover {
    opacity: 0.3;
    cursor: pointer;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: .75rem;
}

a {
    text-decoration: none;
    color: purple;
}