body,html {
    background: rgb(99, 39, 120)
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
.btn-pass {
    margin-top: 10px;
}
.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}
a {
    text-decoration: none;
    color: white;
}
.logout {
background-color: darkred;
}
.beautiful-img {
    opacity: 1;
}
.beautiful-img:hover {
    opacity: 0.3;
    cursor: pointer;
}
.hidden {
    display: none;
}
.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}